.tabs {
    width: 100%;
}

.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    margin-bottom: 0px;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.tab-list-active {
    background-color: white;
    /*border: solid #ccc;
    border-width: 1px 1px 0 1px;*/

    border-bottom: 2px solid blue;
}

.tab-content {
    height: calc(100vh - 50px);
    overflow-y: scroll;
    background-color: rgba(128, 128, 128, 0.1);
}
